body {
	font-size: 1.5em;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, Arial, sans-serif; 
}
h1, h2, h3 {
	margin: 0;
}
#place {
	font-weight: 400;
	font-size: 4em;
}
#times {
	font-weight: 400;
	margin-top: 0.4em;
}
#next {
	margin-top: 0.8em;
	opacity: 0.6;
}
#next, #add {
	padding: 0.5em 2em;
	font-size: 1.2em;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #aaa;
	outline: none;
	background: none;
	border-radius: 0.2em;
	cursor: pointer;
}
#add {
	position: fixed;
	bottom: 0.5em;
	left: calc(50% - 2.54em);
}
#next:hover {
	opacity: 1;
}
#next:active {
	background: #eee;
	border-color: #ccc;
}

@media (max-width: 450px) {
	#place {
		font-size: 3.2em;
		font-size: 20vw;
	}
}
